[submodule "api-gateway"]
	path = api-gateway
	url = http://200.129.82.7:8000/nutes-ocariot/server/api-gateway
	branch = develop
[submodule "account-service"]
	path = account-service
	url = http://200.129.82.7:8000/nutes-ocariot/server/account-service
	branch = develop
[submodule "tracking-service"]
	path = tracking-service
	url = http://200.129.82.7:8000/nutes-ocariot/server/tracking-service
	branch = develop
